# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\PAWEL\Documents\STUDIA\zadania-na-staze\avsystem\elevator-system\.idea/dataSources/
/dataSources.local.xml
